# Visual Studio / .NET
*.suo
*.user
*.sln
*.csproj
*.vbproj
*.vcxproj
*.pdb
obj/
bin/
Bin/
objx64/
Debug/
Release/
TestResults/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Cc][Hh][Ii][Tt][Ee][Cc][Tt][Uu][Rr][Ee]/
*.dbmdl
*.dbproj
*.jfm
*.userprefs
*.iuser
*.iobj
*.ipdb
*.suo
*.sln.docstates
*.[Pp]ublish.xml
*.pfx
*.publishsettings
node_modules/

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Include Python files
*.py
